{% extends "contacts/layout.html" %}

{% block body%}

    <h2> {{ form.instance.pk|yesno:"Edit contact, Add contact" }}</h2>  
    <!-- form.instance create a empty object with fields .pk give value for the fields for the particular id or pk -->
    <!-- yesno:"A,B" is django template filter -->
    <!-- if object has pk then it is true ,a will execute else b(add contact will execute)  -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- it submit each field wrapped with <p> tag-->
        <button type="submit">Save</button>
        <a href="{% url 'index' %}">Cancel</a>
    </form>

{% endblock %}